.header-container {
  background-color: #0c001c;
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 200px;
  width: 200px;
  margin-right: auto;
  margin-left: 2rem;
}

.nav {
  list-style: none;

  display: flex;
  justify-content: space-between;

  &__item {
    margin: 5rem;
  }

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all 0.5s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.1);
  }
}
