body{
  background-color: #0c001c;
}


.footer-box {
  border-top: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 20vh;
  width: 70vw;
  margin: 0 auto;
  background-color: #0c001c;
}

.footer-box a {
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 40px;
}

.footer-box a i:hover{
  color: rgb(179, 100, 179);
  
  transition: .3s;
}

.footer-box a i{
  font-size: 60px;
  color: white;
}
